@import "config"
@import "theme/header"
@import "theme/home"
@import "theme/contact"
@import "theme/footer"

.wedo-top
  background-image: url("../img/diseno-paginas-web-bogota.jpg")
  background-size: cover
  h1
    font-size: rem(40)
    color: white

.wedo-title
  padding: 8rem
  background: #f1f6fe
  h2
    font-size: rem(30)
    font-weight: normal
    line-height: 1.3
    margin-bottom: 3rem
  p
    font-size: 1em
    font-weight: 100
    line-height: 1.6

.wedo-content
  padding: rem(50) 0
  article
    box-shadow: 0 0 rem(2) 0 #538bf4
  h3
    font-weight: 300
    margin-bottom: 0.5em
    line-height: 1.1em
    color: #212121
  p
    padding: rem(20)
    font-size: 1em
    font-weight: 100
    line-height: 1.6
