.Header
  height: 100vh
  background: $light-blue
  a
    color: $light-blue
    font-weight: 100
    font-family: $font-roboto
  figure
    margin: rem(10) rem(40)
.Header-bar
  position: fixed
  top: 0
  left: 0
  width: 100%
  background: white
  box-shadow: 0 6px 13px 0 rgba(0,0,0,0.15)
  li
    margin: 0 rem(10)
.Header-contact a
  background: $light-blue
  display: block
  padding: rem(10) rem(14) rem(9)
  color: white
.Header-number
  margin-right: rem(40)
  a
    font-size: rem(13)
    margin-left: rem(6)
.Header-message
  width: 100%
  text-align: center
  font-size: rem(28)
  font-weight: 100
  color: white
  font-style: italic
  padding: rem(26)
