.Polo-footer
  background: #FEFEFE
  box-shadow: 0 rem(6) rem(13) rgba(0,0,0,0.06)
  height: rem(140)
  min-width: 100vw
  svg
    position: relative
    top: rem(-10)
.Home
  h2
    font-size: rem(48)
    color: #1F2E4C
    font-weight: 800
    text-align: center
.Make
  margin: rem(90) auto

  h3
    font-size: rem(16 )
    font-weight: 100
    color: #567A23
    margin: rem(10)
    @include respond-to(medium)
      margin: 0
  hr
    border: none
    border-top: rem(2) dotted #567A23
    transform: rotate(90deg) translateX(45px)
    transform-origin: 50% 0
    @include respond-to(medium)
      transform: rotate(0) translateX(0)
  p
    font-size: rem(23)
    font-weight: 100
    line-height: rem(40)
    margin: rem(40) 0
  svg
    @include respond-to(medium)
      max-width: rem(150)
    @include respond-to(large)
      max-width: rem(200)

.Make-hr
  width: rem(100)
  height: rem(100)
  padding: 0 rem(10)
  @include respond-to(medium)
      width: auto
      height: auto
.Make-hr--vertical
  left: calc(50% - 18px)
  height: rem(100)
  @include respond-to(medium)
    position: absolute
  hr
    width: rem(80)
    @include respond-to(medium)
      width: rem(36)
      transform:  rotate(90deg) translatex(16px)

#Make-marketing,#Make-prototypes,#Make-changes
  position: relative
#Make-prototypes svg
  max-width: rem(240)
#Make-changes
  @include respond-to(medium)
    max-width: rem(167)
#Make-test
  width: rem(200)
.Make-hrSpace
  height: rem(26)
  display: none
  @include respond-to(medium)
    display: block
.Make-hrSpaceTwo
  height: rem(50)
.Make-hrSpaceThree
  height: rem(40)
.Make-process
  flex-direction: column
  @include respond-to(medium)
    flex-direction: row
  div:nth-child(4) hr
    border-top-color:  #FD7373
  div:nth-child(6) hr
    border-top-color:  #67BDBC
@media (max-width: 36rem)
  #Make-start
    order: 1
  #Make-hr--1
    order: 2
  #Make-planner
    order: 3
  #Make-hr--2
    order: 4
  #Make-marketing
    order: 5
  #Make-requirements
    order: 6
  #Make-hr--3
    order: 7
  #Make-sketches
    order: 8
  #Make-hr--4
    order: 9
  #Make-prototypes
    order: 10
  #Make-developer
    order: 11
  #Make-hr--5
    order: 12
  #Make-test
    order: 13
  #Make-hr--6
    order: 14
  #Make-changes
    order: 15
  #Make-deploy
    order: 16
  #Make-hr--7
    order: 17
  #Make-production
    order: 18
  #Make-hr--8
    order: 19
  #Make-social
    order: 20




